.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 120rem;
  height: 68rem;
  background: #F9F9F9 0% 0% no-repeat padding-box;
  opacity: 1;
}

.flexbox-container {
  width: 43rem;
  height: 53rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 0px 48px #22222214;
          box-shadow: 0px 0px 48px #22222214;
  border-radius: 30px;
  opacity: 1;
}

.flexbox-item {
  font: normal normal 600 16px/19px Public Sans;
  letter-spacing: 0px;
  color: #222222;
  opacity: 0.5;
  margin: 3%;
}

.avatar {
  width: 11rem;
  display: block;
  height: 11rem;
  background: #F1F2F6 0% 0% no-repeat padding-box;
  border: 10px solid #2222221A;
  border-radius: 130px;
  opacity: 1;
  margin-bottom: 1rem;
}

.flexbox-item-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font: normal normal 600 1rem Public Sans;
  letter-spacing: 0px;
  color: #222222;
  opacity: 0.5;
  margin: 0.2rem;
}

.form-control-name {
  width: 17rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .7rem;
  margin: .3rem;
  background: #F1F2F6 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
  border: none;
  margin-bottom: .1rem;
  height: 3.75rem;
}

.flexbox-item-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font: normal normal 600 1rem Public Sans;
  letter-spacing: 0px;
  color: #222222;
  opacity: 0.5;
  margin: 0.2rem;
}

.form-control-email {
  padding: .7rem;
  margin: .3rem;
  background: #F1F2F6 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
  border: none;
  margin-bottom: .1rem;
  height: 3.75rem;
  width: 36rem;
}

.flexbox-item-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font: normal normal 600 1rem Public Sans;
  letter-spacing: 0px;
  color: #222222;
  opacity: 0.5;
  margin: 0.2rem;
}

.form-control-address1 {
  width: 26rem;
  padding: .7rem;
  margin: .3rem;
  background: #F1F2F6 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
  border: none;
  margin-bottom: .1rem;
  height: 3.75rem;
}

.form-control-address {
  padding: .7rem;
  margin: .3rem;
  background: #F1F2F6 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
  border: none;
  margin-bottom: .1rem;
  height: 3.75rem;
  width: 8rem;
}

.flexbox-item-place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font: normal normal 600 1rem Public Sans;
  letter-spacing: 0px;
  color: #222222;
  opacity: 0.5;
  margin: 0.2rem;
}

.form-control-ort1 {
  width: 13rem;
  padding: .7rem;
  margin: .3rem;
  background: #F1F2F6 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
  border: none;
  margin-bottom: .1rem;
  height: 3.75rem;
}

.form-control-ort {
  padding: .7rem;
  margin: .3rem;
  background: #F1F2F6 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
  border: none;
  margin-bottom: .1rem;
  height: 3.75rem;
  width: 21rem;
}

.dugme3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

#dugme4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

.btnUser {
  width: 37rem;
  margin-top: 1rem;
  height: 5rem;
  background: transparent linear-gradient(263deg, #B9B9B9 0%, #9F9F9F 100%) 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
  text-align: center;
  font: normal normal 600 1rem Public Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  border: none;
}

.btn-user2 {
  width: 37rem;
  margin-top: 1rem;
  height: 5rem;
  background: transparent linear-gradient(264deg, #1DD1A1 0%, #10AC84 100%) 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
  text-align: center;
  font: normal normal 600 16px/19px Public Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  border: none;
}

.btn-user-bearbeiten {
  width: 18.2rem;
  padding: .9rem;
  margin: .3rem;
  margin-top: 1rem;
  height: 5rem;
  border: 2px solid #10AC84;
  border-radius: 15px;
  opacity: 1;
  /* text*/
  text-align: center;
  font: normal normal 600 1rem Public Sans;
  letter-spacing: 0px;
  color: #10AC84;
  opacity: 1;
}

.btn-user-abbrechen {
  width: 18.2rem;
  padding: .9rem;
  margin: .3rem;
  margin-top: 1rem;
  height: 5rem;
  border: 2px solid #10AC84;
  border-radius: 15px;
  opacity: 1;
  /* text*/
  text-align: center;
  font: normal normal 600 16px/19px Public Sans;
  letter-spacing: 0px;
  color: #10AC84;
  opacity: 1;
}

.btn-user-anlegen {
  padding: .9rem;
  margin: .3rem;
  width: 18.2rem;
  height: 5rem;
  background: transparent linear-gradient(257deg, #1DD1A1 0%, #10AC84 100%) 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
  text-align: center;
  border: none;
  font: normal normal 600 16px/19px Public Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.btn-user-speichern {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .7rem;
  margin: .3rem;
  background: #F1F2F6 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
  border: none;
  margin-bottom: .1rem;
  height: 3.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 18.2rem;
  padding: .9rem;
  margin: .3rem;
  margin-top: 1rem;
  height: 5rem;
  background: transparent linear-gradient(257deg, #1DD1A1 0%, #10AC84 100%) 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
  text-align: center;
  border: none;
  font: normal normal 600 16px/19px Public Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */